{% include "header.html" %}
<div class="wrapper">
	{% if error == "access_denied" %}
		<div id="spotify-error" class="alert alert-warning alert-dismissable fade in" role="alert">
			<button type="button" id="dismiss" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<i class="fa fa-warning"></i>
			You must connect <strong>this app</strong> with your Spotify account before you
			can use the API!
		</div>	
	{% endif %}
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="card card-signup text-center">
					<div class="header header-primary text-center">
						<h4> What API do you want to query today?</h4>
					</div>

					<div class="card-content icons">
						<ul class="nav nav-pills" role="tablist">
							<li>
								<a href="{{ url_for('twitter_handler') }}">
									<img  src={{ url_for("static", filename="img/twitter.png") }} ></a>
								</li>

								<li>
									<a href="{{ url_for('spotify_handler') }}">
										<img  src={{ url_for("static", filename="img/spotify.png") }} ></a>
								</li>

								<li>
									<a href="{{ url_for('NASA_handler') }}">
										<img  src={{ url_for("static", filename="img/rocket.png") }} ></a>
								</li>
								</ul>
					</div>
				</div>
			</div>


		</div>
	</div>


	{% include "footer.html" %}
</div>
