h1 {
  font-family: Arial, sans-serif;
}

body {
  background-color: pink;
}

nav ul {
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/**************************** Answer to bonus exercise 1 **********************************/
/* Some extra styling to make the contact page form line up
 * slightly more nicely... (this is also how you can write comments in your CSS!)
 */
* {
  font-family: Arial, sans-serif;
}

div {
  margin: 15px 0;
}

label {
  display: inline-block;
  width: 70px;
}

textarea {
  resize: vertical;
}
/**************************************************************************************/
