h1 {
  font-family: Arial, sans-serif;
}

body {
  background-color: pink;
}

nav ul {
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
