{% include "header.html" %}
{##################### Answer to bonus exercise 1 #####################}

{# Note: this is how you write a comment in the template language syntax. This can be useful
   if you want to comment something about your Python-like code logic, but don't want the
   comments to leak onto the page's visible source code in browser. This would have happened
   if you use HTML's <!-- --> comment syntax.
#}
  <h1>About page</h1>

  <p>
    Hi, my name is x and I'm a student doing the #ShefCodeFirst Python course as a
    first step towards my coding journey! I'm really loving it so far! :D
  </p>
</body>
</html>
