{% include "header.html" %}

<!-- Uncomment the include line below by removing the {# #} bracket pair and remove
the {% include "header.html" %} line to see this working with the
bonus exercise solution. -->
{# {% include "bonus_header.html" %} #}

  {% if user %}
    <h1>Hello {{ user }}</h1>
  {% else %}
    <h1>Hello world!</h1>
  {% endif %}

  <form action="/feedback" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
  
    <input type="submit" value="Send!">
  </form>
</body>
</html>
